<div class="information">
  <div class="container">
    <div class="infor-top">
      <div class="col-md-3 infor-left">
      <h3>Follow Us</h3>
      <ul>
        <li><a href="#"><span class="inst"></span><h6>Instagram</h6></a>
        <li><a href="#"><span class="twit"></span><h6>Twiter</h6></a>
        <li><a href="#"><span class="google"></span><h6>Google</h6></a>
      </ul>
    </div>

    <div class="col-md-3 infor-left">
      <h3>Information</h3>
      <ul>
        <li><a href="#"><h6>Specials</h6></a>
        <li><a href="#"><h6>News</h6></a>
        <li><a href="#"><h6>Our stores</h6></a>
      </ul>
    </div>

    <div class="col-md-3 infor-left">
      <h3>My Account</h3>
      <ul>
        <li><a href="account.html"><h6>My Account</h6></a>
        <li><a href="#"><h6>My Credit slips</h6></a>
        <li><a href="#"><h6>My Addresses</h6></a>
      </ul>
    </div>

    <div class="col-md-3 infor-left">
      <h3>Store Information</h3>
      <h4>The company name, <span>CoinBit</span>
      eventh Avenue, +955 321 9900</h4>
    </div>
    <div class="clearfix"></div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="col-md-6 footer-left">
      <form>
        <input type="text" value="Entry Your Email" onfocus="this.value = '' ; " onblur= "if(this.value == '') (this.value == 'Enter Your Email')">
        <input type="submit" value="Subcribe">
      </form>
    </div>
    <div class="col-md-6 footer-right">
      <p><%= Date.today.year%> Luxury Watches.All Rights</p>
      </div>
      <div class="clearfix"></div>
      </div>
    </div>
</div>

<!-- modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelleddby="myModalLabel">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" date-dismiss="model" aria-label="Close">
      <span aria-hidden="true"></span></button>
      <h4 class="modal-title" id="myModalLabel">Basket</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" date-dismiss="model">Continue shopping </button>
      <a href="catr/index" type="button" class="btn btn-primary">Place an order</a>
       <button type="button" class="btn btn-danger" onclick="clearCart()">Clearn</button>
       </div>
    </div>
  </div>
</div>
